body{
	display: flex;
	justify-content: center;
	color: white;
	
}

h1{
	text-align: center
}


.formulario-principal{
	display:flex;
	flex-direction:column;
	align-items:center;
	width: 400px;
	background-color: #9CF09B;
	border-radius: 2%;
	margin-top:50px;
}

.ui-outputlabel{
	font-weight: bold;
}

body .ui-inputfield {
    padding: 7px;
    margin: 10px 0 10px 0;
}

.ui-inputfield #nome{
    width: 100px;
}

#mainForm .ui-button{
	display:flex;
	margin: 10px auto 10px auto;
	background-color: #82F07B;
}

#mainForm .ui-button.button-salvar{
	margin: 20px auto 20px auto;
	background-color: #2B572E;
	color: white;
    background-image: none !important;
    border: none !important;
    font-weight: normal;
}

