*{
	margin: 0;
}

body{
	text-align: center;
	color: white;
	margin: 0;
	
}

body header{
	padding-bottom: 30px;
	background-color: #9CF09B;
}	

h1{
	text-align:center;
	justify-content:center;
	align-items: center;
	padding-top: 30px;
}
.menu{
	display:block;
}

a{
	color: #2B572E;
	margin-left: 10px;
}

#mainForm .ui-datatable{
	display:flex;
	margin: 30px auto 0 auto;
}

.button-salvar{
	margin-top: 10px;
}

.button-logout{
	margin-top: 10px;
}

.button-novo{
	margin-top: 20px;
}

.ui-inputfield{
	padding: 4px 10px 4px 10px;
}
